.forms {
  display: flex;
  justify-content: center;
  background-image: url(/assets/image/avatar.png);
  background-repeat: no-repeat;
  padding-top: 100px;
  background-size: 50px;
  background-position-x: 50%;
  background-position-y: 65px;
}

form {
  padding: 30px 50px;
  display: flex;
  width: 228px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #0d0e0e38;
  border: 1px solid #000000;
  border-radius: 10px;
}

label {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: #ffffff;
}

input {
  font-size: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 8px;
  outline: none;
}

div {
  margin-top: 0px;
  code {
    color: #000000;
    font-size: 1rem;
  }
}

button {
  padding: 10px 0px;
  font-size: 1rem;
  font-weight: bold;
  width: 100px;
  border: none;
}

button:enabled {
  background-color: #24bceb;
  color: #ffffff;
  transition: 1s;
  cursor: pointer;
}

button:disabled {
  background-color: #ff0000;
  color: #ffffff;
  opacity: 0.3;
  -webkit-user-select: none;
  user-select: none;
  cursor: not-allowed;
}

@media (max-width: 300px) {
  form,
  input {
    max-width: fit-content;
  }
}
