<div class="btn-container">
  <button class="logout-btn" (click)="listComp()">
    <i class="fa fa-arrow-left"></i>Previous Page
  </button>
  <button class="logout-btn add-item" (click)="formVisible()">Add Item</button>
</div>

<div class="list-container">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index" class="tr-function">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <i
            class="fa fa-edit"
            style="color: #0000ff; font-size: 1.3rem; cursor: pointer"
            (click)="formVisible(product)"
          ></i>
        </td>
        <td>
          <i
            class="fa fa-trash-o"
            style="color: red; font-size: 1.3rem; cursor: pointer"
            (click)="deleteProductData(i)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Create New Product -->

<div class="form-visibilty__control" #addItem>
  <div class="form-setting">
    <form
      method="post"
      class="form-container"
      [formGroup]="productData"
      (ngSubmit)="setProductData()"
    >
      <img
        src="/assets/image/red-cross-btn.webp"
        alt="Cross Button"
        class="red-cross-btn"
        (click)="minimizeForm()"
      />
      <input
        type="number"
        name="productId"
        class="product-input"
        formControlName="productId"
        placeholder="Enter Id"
        autocomplete="off"
        min="1"
        required
      />

      <input
        type="text"
        name="productName"
        class="product-input"
        formControlName="productName"
        placeholder="Product Name"
        autocomplete="off"
        required
      />

      <input
        type="number"
        name="productPrice"
        class="product-input"
        formControlName="productPrice"
        placeholder="Price"
        autocomplete="off"
        min="1000"
        required
      />

      <div *ngIf="productData.get('productPrice')?.hasError('min')">
        <span style="color: #fff"
          >Price should be greater than
          <code style="color: #ff0000">1000</code></span
        >
      </div>

      <button class="add-item__btn" type="submit">
        {{ productDataDetail.updating ? "Updating Item" : "Add Item" }}
      </button>
    </form>
  </div>
</div>
