:host {
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(./desktop-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
  body {
    background-image: url(./desktop-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
